* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

body {
    padding: 20px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: auto;
}

.display-container {
    display: flex;
}

.display {
    height: 75px;
    min-width: 250px;
    padding: 0px 15px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    flex: auto;
}

.board-container {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-top: auto;
    margin-bottom: 50px;
    
}

.board {
    display: flex;
    flex-wrap: wrap;
    width: 306px;
}

.position {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    background-color: rgb(245, 245, 245);
}

.position:hover {
    background-color: rgb(228, 228, 228);
    cursor: pointer;
}

.position:active {
    background-color: white;
}