* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

body {
    padding: 20px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
}

.board-container {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: auto;
    
}

.board {
    display: flex;
}